html, body {
    height: 100%;
}

#map {
    height: 100%;
}

h3 {
    margin-top: 40px;
}

#part1, #part2 {
    margin: 0 20px;
}

#part2 div {
    font-size: 16px;
}

#part2 input[type=button] {
    margin-top: 50px;
}